<md-toolbar color="accent">
  <span>Filtros</span>
</md-toolbar>

<md-input [(ngModel)]="filtros.titular" placeholder="Titular">
</md-input>

<div class="tag">
  <md-checkbox [checked]="true" class="tag">
    Tag 1
  </md-checkbox>
</div>
<div class="tag">
  <md-checkbox [checked]="true" class="tag">
    Tag 2
  </md-checkbox>
</div>
<div class="tag">
  <md-checkbox [checked]="true" class="tag">
    Tag 3
  </md-checkbox>
</div>
<button md-raised-button color="primary" class="btn" (click)="filtrar()">Filtrar</button>
